{
  "extends": ["@react-native-community", "prettier", "eslint:recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "NodeJS": "readonly",
    "React": "readonly"
  }
}
